main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  /* border: 1px solid rgb(204, 204, 204); */
  z-index: 0;
}

.content-container {
  max-width: 90%;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(204, 204, 204); */
}

.filter-container {
  display: flex;
  padding: 1em 0;
  gap: 1em;
  justify-content: left;
  /* border: 1px solid white; */
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: 2em;
  padding-bottom: 8vh;
  /* border: 1px solid white; */
}

.h1 {
  padding: 1em 0.5em;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  main {
    min-height: 90vh;
    padding: 0;
  }

  .content-container {
    width: 90%;
    max-width: 90%;
  }

  .filter-container {
    max-height: 10vh;
  }
}

@media screen and (min-width: 1920px) {
  .content-container {
    max-width: 60%;
  }

  .project-container {
    --card-width: 320px;
  }
}
