.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}

.container {
  padding: 1em;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5em;
  margin: 0;
  width: 21%;
}

.h2 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.p {
  padding: 0 1rem;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.project-list {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  height: 10rem;
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  padding: 1em 0;
  cursor: pointer;
}

@media screen and (max-width: 1800px) {
  .h1 {
    width: 48%;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    padding: 0;
  }

  .project-list {
    gap: 1.5em;
  }

  .project-card {
    width: 7rem;
    height: 7rem;
  }

  .h1 {
    width: 96%;
    padding: 1em;
  }

  .h2 {
    font-size: 0.9rem;
    padding: 0;
  }

  .p {
    font-size: 0.6rem;
    padding: 0 0.5em;
    line-height: 1rem;
  }
}
