main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  z-index: 0;
}

.content-container {
  max-width: 90%;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(204, 204, 204); */
  /* gap: 1.6em; */
}

.filter-container {
  display: flex;
  padding: 1em 0;
  gap: 1em;
  justify-content: left;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-content: center;
  gap: 2em;
  padding-bottom: 8vh;
  /* border: 1px solid white; */
}

.h1 {
  padding: 1em 0.5em;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  main {
    min-height: 90vh;
    padding: 0;
  }

  .content-container {
    max-width: 80%;
    padding: 0;
  }

  .filter-container {
    max-height: 8vh;
    padding-left: 4em;
  }

  .project-container {
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 400px)); */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 4em;
  }
}

@media screen and (min-width: 1920px) {
  .content-container {
    max-width: 60%;
  }
}
