.project-category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  background-color: rgba(12, 217, 224, 0.541);
  border-radius: 1em;
  /* border: 1px solid rgba(224, 12, 111, 0.767); */
  cursor: pointer;
  padding: 1em;
}

.category-icon {
  width: 5rem;
  height: 5rem;
}

.project-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.h2 {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  font-size: 1.4rem;
}

.p {
  padding: 0 0.2em;
  margin: 0;
  font-size: 1rem;
  line-height: 1.4rem;
}

.next-icon {
  width: 1.6rem;
  height: 1.6rem;
}

@media screen and (min-width: 800px) and (max-width: 2000px) {
  .project-category-card {
    padding: 1em;
    gap: 1vh;
  }

  .category-icon {
    width: 4rem;
    height: 4rem;
  }

  .h2 {
    font-size: 0.8rem;
  }

  .p {
    padding: 0;
    font-size: 0.7rem;
  }

  .next-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  .project-category-card {
    padding: 1em;
    gap: 2vh;
  }

  .category-icon {
    width: 4rem;
    height: 4rem;
  }

  .h2 {
    font-size: 1.1rem;
  }

  .p {
    font-size: 0.9rem;
    padding: 0;
    line-height: 1rem;
  }

  .next-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}
