.container {
  position: absolute;
  top: 4.4em;
  left: 0;
  width: 60%;
  height: 50vh;
  background: rgba(6, 14, 13, 0.9);
  border: 1px solid rgb(206, 206, 206);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.libraries {
  display: flex;
  flex-direction: row;
}

.groupLeft {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: rgba(174, 185, 184, 0.9);
}

.groupRight {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: rgba(174, 185, 184, 0.9);
}

.fieldset {
  border: none;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  gap: 0.5em;
}
