.socialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 2em;
}

.logo {
  height: 1.5rem;
  width: 1.5rem;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.p {
  font-size: 1rem;
  padding: 0 2em;
}

@media screen and (min-width: 1024px) {
  .socialContainer {
    padding: 0.5em;
  }

  .logo {
    height: 1.5rem;
    width: 1.5rem;
  }
}
