.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(6, 14, 13);
  /* border: 1px solid rgba(12, 217, 224, 0.767); */
  border: 1px solid rgb(206, 206, 206);
  border-radius: 1em;
  width: 100%;
  padding: 1em;
  padding-bottom: 1.5em;
  /* min-height: 32vh; */
}

.project-info {
  /* display: flex;
  flex: 1;
  flex-direction: column; */
  height: 100%;
  /* border: 1px solid white; */
  padding: 0.5em 0;
}

.title {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.2em 0;
  /* border: 1px solid white; */
  width: 100%;
}

.description {
  font-size: 1rem;
  white-space: pre-wrap;
  padding: 1em 0;
  /* border: 1px solid white; */
}

@media screen and (min-width: 1024px) {
  .project-card-container {
    padding: 2em;
    max-inline-size: 420px;
    min-height: 26vh;
  }

  .title {
    font-size: 1rem;
    padding: 0.5em 0;
  }

  /* .description {
    font-size: 1rem;
  } */
}
