.wrapper {
  position: relative;
  display: inline-block;
  width: 200px;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 8px 32px 8px 12px;
  border: 1px solid rgba(12, 217, 224, 0.767);
  border-radius: 8px;
  background: rgba(26, 26, 26, 0.767);
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.option {
  background: rgb(26, 26, 26);
  border: 1px solid rgba(12, 217, 224, 0.767);
  color: white;
}

.option:hover {
  background: rgb(163, 10, 10);
}

.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.2s ease;
  pointer-events: none; /* prevent blocking clicks */
  font-size: 12px;
  color: #ffffff;
}

.arrowOpen {
  transform: translateY(-50%) rotate(180deg);
}
