.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  z-index: 0;
}

.section {
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(204, 204, 204); */
  /* gap: 1.6em; */
}

.project-category-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(12, 217, 224, 0.767);
  border-radius: 1em;
  width: 100%;
  padding: 2em;
  gap: 1em;
  cursor: pointer;
}

.h1 {
  padding: 1em 0.5em;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
}

.h2 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 1.2rem;
}

.description {
  font-size: 1rem;
  white-space: pre-wrap;
}

.github-container {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  width: 40%;
}

.github-logo {
  width: 2rem;
}

@media screen and (min-width: 1024px) {
  .main {
    justify-content: center;
    min-height: 90vh;
  }

  .section {
    width: 60%;
  }

  .project-category-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    padding: 2em;
  }

  .h2 {
    text-align: center;
  }
}
