.button {
  padding: 0.8em 1.6em;
  border: rgba(12, 217, 224, 0.767) solid 1px;
  border-radius: 0.5em;
  background-color: rgba(12, 217, 224, 0.452);
  color: white;
  font-size: 0.8rem;
  font-family: "JetBrains Mono";
  text-align: center;
}

@media screen and (max-width: 800px) {
  .button {
  }
}
