.socialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.588);
  border-radius: 2em;
  box-sizing: border-box;
  padding: 1em;
}

.logo {
  width: 3em;
  padding: 0;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

p {
  padding-left: 1em;
  padding-right: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.2em;
}
