.socialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  padding: 1em;
  gap: 0.5em;
}

.logo {
  width: 6em;
  aspect-ratio: 16 / 8;
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

p {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  p {
    font-size: 1.2rem;
  }
}
