/* main,
.content-container {
  border: 1px solid white;
} */

.main {
  min-height: 90vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 2em 0;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 90vh;
  z-index: 0;
  overflow: hidden;
  top: -10vh;
  gap: 4em;
  /* position: relative; */
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.home-profile-pic {
  width: 10rem;
  height: 10rem;
}

.h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 1.8rem;
  text-wrap: wrap;
  padding: 1em 0;
  text-align: center;
}

.p {
  font-size: 1.1rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.603);
  text-wrap: wrap;
  max-width: 32rem;
  padding: 0 1em;
}

.button-container {
  display: none;
}

.inline-link {
  color: rgb(111, 186, 230);
  text-decoration: none;
}

.inline-link:hover {
  color: rgba(12, 217, 224, 0.767);
}

.featured-projects-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.featured-projects-list {
  display: flex;
  flex-direction: row;
  gap: 2em;
  --card-width: 300px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 100;
  font-size: 1.3rem;
}

.line {
  border-bottom: 1px solid white;
  width: 21em;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
  padding: 1em 0;
  position: sticky;
  bottom: 1em;
  overflow-x: auto;
}

.h2 {
  display: none;
}

@media screen and (max-width: 1800px) {
  .content-container {
    padding: 4em;
  }

  .introduction {
    min-height: 10vh;
  }

  .home-profile-pic {
    width: 8rem;
    height: 8rem;
  }

  .p {
    width: 80%;
    font-size: 0.9rem;
  }

  .h1 {
    padding: 1em;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  .content-container {
    padding: 2em 1em;
  }

  .introduction {
    min-height: 20vh;
  }

  .home-profile-pic {
    width: 10rem;
    height: 10rem;
  }

  .p {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .h1 {
    font-size: 1.8rem;
  }

  .featured-projects-container {
    display: none;
  }

  .footer {
    justify-content: start;
    padding: 1em 2em;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    padding: 1em;
    padding-top: 2em;
    gap: 1em;
  }

  .home-tech {
    text-wrap: nowrap;
  }
}
