.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 8em 0;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.home-profile-pic {
  width: 10rem;
  height: 10rem;
}

.h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  text-wrap: wrap;
  padding: 1em 0;
  text-align: center;
}

.p {
  font-size: 1.3rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.603);
  text-wrap: wrap;
  max-width: 32rem;
}

.inline-link {
  color: rgb(111, 186, 230);
  text-decoration: none;
}

.inline-link:hover {
  color: rgba(12, 217, 224, 0.767);
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
  padding: 1em 0;
  position: sticky;
  bottom: 0;
  overflow-x: auto;
}

.h2 {
  display: none;
}

@media screen and (max-width: 1800px) {
  .home-container {
    padding: 4em;
  }

  .home-profile-pic {
    width: 8rem;
    height: 8rem;
  }

  .p {
    width: 80%;
    font-size: 0.8rem;
  }

  .h1 {
    padding: 1em;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .home-container {
    padding: 2em 1em;
  }

  .home-profile-pic {
    width: 10rem;
    height: 10rem;
  }

  .p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .h1 {
    font-size: 1.3rem;
  }

  .footer {
    justify-content: start;
    padding: 1em;
  }
}
