.content-images {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1em;
  overflow-x: auto;
  min-width: 0;
  flex-wrap: wrap;
}

.screenshot {
  height: 8vh;
  border: 1px solid rgba(227, 227, 227, 0.267);
  cursor: pointer;
}
